.container{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, .6),
        rgba(0,0,0, .6)),
        url("../media/aboutback.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;

    color: ghostwhite;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    transition: .5s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    margin: 1.5rem;
}
.box:hover{
    transform: scale(1.1);
    z-index: 100;
}
.nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.left{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 7rem;
}
.title{
    background: var(--greyBlue);
    padding: 2rem 5rem 2rem 5rem;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 8px;
}
.header{
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
    letter-spacing: 3px;
}


.right{
    width: 40%;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.subheader{
    margin-top: 4rem;
}
.p1{
    margin-bottom: 2rem;
}
