:root{
    --mainBlue: rgb(6,136,149);
    --secondBlue: #74B3CE;
    --greyBlue: #508991;
    --darkBlue: #1c486b;
    --greenBlue: #004346;
    --lightGreen: #09BC8A;
    overflow-x: hidden;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html, body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}